<%- include('../layout/header.ejs') -%>
  <link rel="stylesheet" href="/css/mycss/profile.css">
  </head>

  <body>

    <%- include('../layout/nave.ejs') -%>
      <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Account</li>
          </ol>
        </div><!-- End .container -->
      </nav>
      <br>



      <section class="">
        <div class="container-fluid  py-5 h-100 position-relative ">
          <div class="row d-flex    align-items-start  h-100" style="gap: 10rem;">
            <aside class="col-md-2 col-lg-2  ">
              <!-- profile nave -->
              <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">

                <li class="nav-item">
                  <a class="nav-link active" id="tab-orders-link" href="/profile" aria-selected="true">Back to profile</a>
                </li>

              </ul>
              <br>

            </aside>
            <aside class="col col-lg-9 mb-4 mb-lg-0">
              <div class="row w-100" style="gap: 2rem;">
                <div class="container">
                  <table class="table table-wishlist table-mobile">
                    <thead>
                      <tr>
                        <th>no</th>
                        <th>amount</th>
                        <th>time</th>
                        <th>Debit Or Credit</th>
                   
                      </tr>
                    </thead>

                    <tbody>
                      <% if(locals.wallet) { %>
                        <% const transactionArray=wallet?.transaction?.reverse() %>
                        <% transactionArray?.forEach((elam, index)=>{ %>
                          <tr>
                         
                            <td class="stock-col ms-3 "><%=index+1  %>
                            </td>
                            <td class="stock-col ms-3 ">$<%=elam.amount %>
                            </td>
                            <td class="stock-col"><span class="">
                                <%=elam.time.toString().split(' ').slice(0,5).join('  ') %>
                              </span></td>
                            <td class="stock-col <%=elam.creditOrDebit=='debit'? 'text-danger' :'in-stock'%>">
                          
                              <%=elam.creditOrDebit%>
                            </td>

                       
                          </tr>
                          <% })} %>

                    </tbody>
                  </table>
                  <% if(locals.order) {%>
                    <div class="wishlist-share">
                      <div class="social-icons social-icons-sm mb-2">
                        <label class="social-label">Total:</label>
                        $<%=locals.order.orderAmount %>
                      </div><!-- End .soial-icons -->
                    </div>
                    <% } %>
                </div>

              </div>
            </aside>
          </div>

        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <% if(gg<=1){ %>
                    <li class="page-item disabled">
                        <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                            <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                        </a>
                    </li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="/order?page=1">1</a></li>
                    <li class="page-item-total">1 of <%= gg==0?gg+1:gg %></li>
                    
                    <li class="page-item disabled">
                        <a class="page-link page-link-next" href="#" aria-label="Next">
                            Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                        </a>
                    </li>
                    <% }else{ %>
                        <li class="page-item <%=now==1?'disabled ':''  %> ">
                            <a class="page-link page-link-prev" href="/order?page=<%=now-1  %>" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                            </a>
                        </li>
                        <%let flag=0;  %>
                        <% for(let i=now;i<=gg;i++){ %>
                            <% if(flag==3){ %>
                                <% break;} flag++; %>
                                <li class="page-item active" aria-current="page"><a class="page-link" href="/order?page=<%=i  %>"><%=i  %></a></li>
                                
                       <% } %>

                        <li class="page-item-total"><%=now%>of <%=gg  %></li>
              
                <li class="page-item <%=now==gg?'disabled ':''  %>">

                    <a class="page-link page-link-next " href="/order?page=<%=next+1  %>" >
                        Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                    </a>
                </li>
                <% } %>
            </ul>
        </nav>
      </section>



      <%- include('../layout/mobMenu.ejs') -%>
        <%- include('../layout/lyfooter') -%>

          <style>
            *::-webkit-scrollbar {
              width: 0;
            }

            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none !important;
            }
          </style>
      
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
          <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
          <script src="js/demos/demo-6.js"></script>
          <script src="https://unpkg.com/@studio-freight/lenis@1.0.33/dist/lenis.min.js"></script>
          <%- include('../layout/footer.ejs') -%>
            <!-- <script src="js/base.js"></script> -->