<nav class="sidebar sidebar-offcanvas"  id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
      <a class="sidebar-brand brand-logo" href="index.html"><h1 class="text-white ">Molla</h1></a>
      <a class="sidebar-brand brand-logo-mini" href="index.html"><h1 class="text-white ">Molla</h1></a>
    </div>
    <ul class="nav" style="position: fixed;">
      <li class="nav-item profile">
        <div class="profile-desc">
          <div class="profile-pic">
            <div class="count-indicator">
              <img class="img-xs rounded-circle " src="/images/faces/face15.jpg" alt="">
              <span class="count bg-success"></span>
            </div>
            <div class="profile-name">
              <h5 class="mb-0 font-weight-normal"><%= admin.name %></h5>
              <span>admin</span>
            </div>
          </div>
          <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
          <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
        
           
            <a href="/changePassword" class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                  <i class="mdi mdi-onepassword  text-info"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
              </div>
            </a>
           
          </div>
        </div>
      </li>
      <li class="nav-item nav-category">
        <span class="nav-link">Navigation</span>
      </li>
      <li class="nav-item menu-items <%= locals.home?'active':''   %> ">
        <a class="nav-link" href="/admin">
          <span class="menu-icon">
            <i class="mdi mdi-speedometer"></i>
          </span>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item menu-items <%= locals.user?'active':''   %>">
        <a class="nav-link"  href="/admin/users" >
          <span class="menu-icon">
            <i class=" ri-user-line"></i>
          </span>
          <span class="menu-title">User List</span>
         
        </a>
     
      </li>
      <li class="nav-item menu-items <%= locals.order?'active':''   %>">
        <a class="nav-link" href="/admin/orders">
          <span class="menu-icon">
            <i class="ri-shopping-cart-line"></i>
          </span>
          <span class="menu-title">Orders</span>
        </a>
      </li>
      <li class="nav-item menu-items <%= locals.product?'active':''   %>">
        <a class="nav-link" href="/admin/product">
          <span class="menu-icon">
            <i class="ri-shirt-line"></i>
          </span>
          <span class="menu-title">Product</span>
        </a>
      </li>
      <li class="nav-item menu-items <%= locals.productAdd?'active':''   %>">
        <a class="nav-link" href="/admin/productAdd">
          <span class="menu-icon">
            <i class="ri-sticky-note-add-line"></i>
          </span>
          <span class="menu-title">Add Products</span>
        </a>
      </li>
      <li class="nav-item menu-items <%= locals.category?'active':''   %>">
        <a class="nav-link" href="/admin/catagory">
          <span class="menu-icon">
            <i class="ri-pie-chart-line"></i>
          </span>
          <span class="menu-title">Catgory</span>
        </a>
      </li>
      <li class="nav-item menu-items <%= locals.categoryAdd?'active':''   %>">
        <a class="nav-link" href="/admin/catagoryAdd">
          <span class="menu-icon">
            <i class="ri-pie-chart-line"></i>
          </span>
          <span class="menu-title">Add Catgory</span>
        </a>
      </li>
  
   
    </ul>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
        <a class="navbar-brand brand-logo-mini" href="index.html"><h3 class="text-white ">mollaa</h3></a>
      </div>
      <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="mdi mdi-menu"></span>
        </button>
        <ul class="navbar-nav w-100">
          <li class="nav-item w-100">
            <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
              <input type="text" class="form-control" placeholder="Search<% if(locals.user){  %> user<%} else if(locals.product){%>products<% }else if(locals.order){ %>order <% } %>">
            </form>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown d-none d-lg-block">
            <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#">Reports <i class="ri-arrow-down-s-fill"></i></a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
              <h6 class="p-3 mb-0">Sales Reports</h6>
              <div class="dropdown-divider"></div>
              <a href="/admin/report/weekly" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="ri-calendar-event-fill text-primary "></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-capitalize ">weekly Report</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="/admin/report/monthly"  class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                   <i class="ri-calendar-event-line text-info "></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1" text-capitalize >monthly Report</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="/admin/report/yearly" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="ri-calendar-todo-fill text-danger "></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject ellipsis mb-1 text-capitalize ">yearly Report</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a href="/admin/report/costum" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="ri-calendar-todo-fill text-bg-warning  "></i>
                  </div>
                </div>
                <div class="preview-item-content" >
                  <p class="preview-subject ellipsis mb-1 text-capitalize ">custom Report</p>
                </div>
              </a>
         
            </div>
          </li>
          <li class="nav-item nav-settings d-none d-lg-block" data-toggle="tooltip" data-placement="top"  title="copens">
            <a class="nav-link" href="/admin/coupen" data-toggle="tooltip" data-placement="bottom" title="copens">
              <i class="ri-coupon-3-fill" data-toggle="tooltip" data-placement="bottom" title="copens"></i>
            </a>
          </li>
          <li class="nav-item dropdown border-left" data-toggle="tooltip" data-placement="bottom" title="offer">
            <a class="nav-link count-indicator dropdown-toggle" data-toggle="tooltip" data-placement="bottom" id="messageDropdown" href="/admin/offer" title="offer" aria-expanded="false">
              <i class="ri-percent-line" data-toggle="tooltip" data-placement="bottom" title="offer"></i>

            </a>
       
          </li>
          <li class="nav-item dropdown border-left">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="mdi mdi-bell"></i>
              <span class="count bg-danger"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <h6 class="p-3 mb-0">Notifications</h6>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-calendar text-success"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject mb-1">Event today</p>
                  <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event today </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-settings text-danger"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject mb-1">Settings</p>
                  <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-link-variant text-warning"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject mb-1">Launch Admin</p>
                  <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <p class="p-3 mb-0 text-center">See all notifications</p>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
              <div class="navbar-profile">
                <img class="img-xs rounded-circle" src="/images/faces/face15.jpg" alt="">
                <p class="mb-0 d-none d-sm-block navbar-profile-name"><%= admin.name %></p>
                <i class="mdi mdi-menu-down d-none d-sm-block"></i>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
              <h6 class="p-3 mb-0">Profile</h6>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-settings text-success"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <p class="preview-subject mb-1">Settings</p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <form action="/logout" method="post">
              <button type="submit" class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-logout text-danger"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                 
                    <p type="submit" class="border-0 bg-transparent text-white  d-flex align-items-center justify-content-center "><p class="preview-subject mb-1">Log out</p></p>

                
                </div>
              </button>
            </form>
              <div class="dropdown-divider"></div>
              <p class="p-3 mb-0 text-center">Advanced settings</p>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-format-line-spacing"></span>
        </button>
      </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>